@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Logging</h2>
        <p>
            If configured correctly. We have now sent a log to log4net and one to the Seq server.
        </p>
    </div>
</div>